<div class="container">
    <h1>Gestión de Tarjetas de Fidelidad</h1>
    <br> <br> 
  
    <div class="qr-container" *ngIf="scannedClient">
      <div class="qr-info">
        <img src="assets/images/QR-SCAN.png" alt="Código QR" />
      </div>
      <p class="scanned-message">Cliente escaneado: {{ scannedClient.name }}</p>
      
      <button class="add-stamp-btn" (click)="addStampToClient()" [disabled]="!scannedClient || scannedClient.stamps >= maxStamps">
        ➕ Agregar Sello
      </button>
    </div>
  
    <div *ngIf="showNotification" class="notification">
      <p>✅ Sello agregado para el cliente: {{ scannedClient?.name }}</p>
    </div>
    <br>  <br>  <br>  <br> 
  
    <h2>Clientes y su progreso</h2>
    <div class="clients-container">
      <div class="client-card" *ngFor="let client of clients">
        <p class="client-name">{{ client.name }}</p>
        <div class="stamp-progress">
          <span *ngFor="let star of getStars(client.stamps)">⭐</span>
          <span *ngFor="let empty of getEmptyStars(client.stamps)">☆</span>
        </div>
        <p class="stamp-count">{{ client.stamps }}/{{ maxStamps }} sellos</p>
      </div>
    </div>
  </div>
  