<div class="sidebar-content">
  <!-- Logo -->
  <div class="sidebar-header">
    <img src="assets/images/logo.jpeg" alt="NutriSmart Logo" class="logo">
    <h3>NutriSmart</h3>
  </div>

  <!-- Navigation -->
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          <i class="fas fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/profile" routerLinkActive="active" class="nav-link">
          <i class="fas fa-user"></i>
          <span>Perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/meal-plan" routerLinkActive="active" class="nav-link">
          <i class="fas fa-utensils"></i>
          <span>Plan Nutricional</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/appoiments" routerLinkActive="active" class="nav-link">
          <i class="fas fa-calendar-alt me-2"></i>
          <span>Citas</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/goals" routerLinkActive="active" class="nav-link">
          <i class="fas fa-chart-line"></i>
          <span>Progreso</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
  